.text__name {
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  width: 893px;
  color: #ffffff;
}
